<!DOCTYPE html>
<html>

<head>

    <title>🎶AI Audio Enhancer</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">

        <h1>🎵 AI YouTube Audio Enhancer🎵</h1>

        <p>
            Improve poor-quality YouTube audio using AI🤖.❤️
        </p>

        <form method="POST">

            <input
                type="text"
                name="youtube_url"
                placeholder="Paste YouTube URL"
                required
            >
{% if error_message %}
<div style="background: #ff4444; color: white; padding: 15px; border-radius: 5px; margin-bottom: 20px; text-align: center; border-radius: 8px;">
    {{ error_message }}
</div>
{% endif %}
            <button type="submit">
                Enhance Your Audio
            </button>

        </form>
        

        {% if enhanced_ready %}

        <div class="result">

            <h2>Your Enhanced Audio is Ready</h2>
            <a href="/download/{{ unique_id }}" class="download-btn">Download Enhanced Video</a>
             

        </div>

        {% endif %}

    </div>
    
    </script>
</body>
</html>
<!-- 
 cd C:\Users\HP\Documents\projects\AI-youtube-audio-enhancer
python app.py
http://localhost:5000
-->